


/* header */
header {
    height: min(25vw, 250px) ;
    padding: min(2.5vw, 25px) 0 ;
    background-image: linear-gradient( var(--gradienttop) , var(--gradientbottom) ) ;
}
    /* title */
    .title {
        text-transform: uppercase ;
        justify-content: center ;
        display: flex ;
        padding: min(2.5vw, 25px) 0 0 0 ;
        font: var(--titlefont) ;
        color: var(--titlecolor) ;
        text-shadow: 0 min(0.5vw, 5px) var(--titleshadow) ;
    }

    /* logo img */
    .logo {
        position: relative ;
        float: left ;
        margin-left: 0 ;
        top: max(-0.5vw, -5px) ;
        height: min(10vw, 100px) ;
        margin-right: min(3.3vw, 33px) ;
        border-radius: var(--rounding) ;
    }

    /* nav */
    .navigation {
        text-align: center ;
        margin: auto ;
        width: 75% ; /*
        height: min(5vw, 50px) ;
        padding: min(2.5vw, 25px) ;
        border-radius: var(--rounding) ;
        background-color: var(--navcolor) ;
        box-shadow: 0 min(0.5vw, 5px) var(--buttoncolor) ;*/
    }
    
    /* buttons */
    button, .dropdown {
        text-align: center ;
        position: relative ;
        cursor: pointer ;
        border: none ;
        float: left ;
        left: 2.5% ;
        width: 21.5% ;
        margin-right: 2.5% ;
        color: var(--labelcolor) ;
        font: var(--buttonfont) ;
        border-radius: var(--rounding) ;
        background-color: var(--buttoncolor) ;
        box-shadow: 0 min(0.5vw, 5px) var(--shadowcolor) ;
    }
    button { padding: min(3vw, 30px) 0 min(1.5vw, 15px) 0 }

    /* fix overlap */
    .dropdown button {
        box-shadow: none ;
        left: 0 ;
        width: 100% ;
    }

    /* spread ddc buttons out */
    .ddc button { margin-top: min(0.5vw, 5px) } 

    /* hovered / clicked buttons */
    button:hover, .active {
        top: min(0.5vw, 5px) ;
        color: var(--buttonhover) ;
        background-color: var(--activecolor) ;
        box-shadow: 0 min(-0.5vw, -5px) var(--buttoncolor) ;
    }

    /* dropdown hover */
    .dropdown:hover .ddc {
        display: block ;
        color: var(--buttonhover) ;
        border-radius: var(--rounding) ;
        background-color: var(--activecolor) ;
        box-shadow: 0 min(5vw, 50px) var(--buttoncolor) ;
    } .dd:hover {
        box-shadow: none ;
        top: 0 ;
        color: var(--labelcolor) ;
        background-color: var(--buttoncolor) ;
        box-shadow: 0 min(-0.5vw, -5px) rgba(0,0,0,0) ;
    }

    /* cursor */
    .active, .dd { cursor: default }

    /* hide */
    .ddc, .inactive { display: none } 



/* body */
.body {
    position: absolute ;
    overflow-y: auto ;
    z-index: -1 ;
    min-width: 100% ;
    max-height: calc( 100vh - min(30vw, 300px) ) ;
}

section { margin: min(5vw, 50px) 12.5% }
.spamtext { text-indent: min(5vw, 50px) ; text-align: justify }
h1 { text-align: center }


