


.creatorre * { font: var(--buttonfont) }

.creatorre h1 {
    line-height: 0 ;
    color: var(--titlecolor) ;
    text-shadow: 0 min(0.35vw, 3.5px) var(--shadowcolor) ;
    font-size: min(6vw, 25px) ;
}

.creatorre {
    margin: auto ;
	width: min(70.5vw, 705px) ;
  	border-radius: var(--rounding) ;
	border: min(1vw, 10px) solid var(--buttoncolor) ;
	box-shadow: 0 min(0.5vw, 5px) var(--shadowcolor) ;
	background-image: linear-gradient( var(--gradienttop) , var(--gradientbottom) ) ;
}

.creatorre .top {
    box-sizing: border-box ;
    padding-bottom: 0 ;
    padding: min(5vw, 50px) ;
    height: min(30vw, 300px) ;
}

.creatorre .bottom {
    text-align: center ;
    padding: min(4vw, 40px) ;
    padding-bottom: min(3vw, 30px) ;
}

.creatorre img {
    position: relative ;
    float: left ;
    top: max(-0.5vw, -5px) ;
    width: min(25vw, 250px) ;
    height: min(25vw, 250px) ;
    margin-right: min(5vw, 50px) ;
    border-radius: var(--rounding) ;
}

.creatorre a {
    color: var(--labelcolor) ;
    text-shadow: 0 min(0.3vw, 3px) var(--shadowcolor) ;
}
.creatorre a:hover {
    color: rgba(0,0,0,0) ;
    text-shadow: 0 min(0.3vw, 3px) var(--buttoncolor) ;
}


